{% extends "base.html" %}

{% block content %}

    <div class="flex gap-4">

        <a href="{% url 'all_products' %}" class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs hover:bg-neutral-secondary-medium">
            <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">mahsulotlar soni: {{mahsulotlar_soni}}</h5>
        </a>
        
        <a href="{% url 'all_hr' %}" class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs hover:bg-neutral-secondary-medium">
            <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">hodimlar soni: {{hodimlar_soni}}</h5>
        </a>
        
    </div>

 
    
{% endblock content %}